/* chat.css */

.chat .panel-body {
	background-color: #F5F5F5;
}

.chat .chat-receive .msg-body {
	background-color: #FFF;
}

.chat .chat-send .msg-body {
	background-color: #DDD;
}

.chat .msg {
	margin-bottom: 10px;
}

.chat .msg .msg-body {
	padding: 5px 10px 10px 10px;
	margin-bottom: 5px;
	border-radius: 10px;
}

.chat .msg .msg-body .msg-user {
	font-size: 12px;
	font-weight: 700;
	padding-bottom: 5px;
}

.chat .msg .time {
	margin: 0 10px;
	font-size: 12px;
	color: #777;
}

.chat .user-joined .msg-body {
	padding: 5px 10px;
	background-color: #E2FFC7;
	color: #555;
}

.chat .user-left .msg-body {
	padding: 5px 10px;
	background-color: #D6EAF5;
	color: #555;
}

/* Mobile (<768px) */
.emoji-picker {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 3px;
	height: 133px;
}



.avatar-picker {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 3px;
	height: 133px;
}



.emoji-img {
	width: 20px;
	height: 20px;
}

.emoji-list {
	padding: 3px;
}

.emoji-cat-img {
	width: 20px;
	height: 20px;
}

.emoji-cat-list {
	padding: 3px;
}

.avatar-img {
	width: 25px;
	height: 25px;
}

/* Show for tablet or larger */
@media (min-width: 768px) {
	.emoji-picker {
		padding: 0 4px;
		height: 175px;
	}

	.emoji-img {
		width: 24px;
		height: 24px;
	}

	.emoji-list {
		padding: 5px;
	}

	.emoji-cat-img {
		width: 24px;
		height: 24px;
	}

	.emoji-cat-list {
		padding: 5px;
	}

	.avatar-img {
		width: 35px;
		height: 35px;
	}

}