<div ng-if="main.login!=false">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading">
						<img ng-src="img/avatar/{{main.myAvatar}}" class="avatar-img" alt="{{main.login}}">
						<span style="padding-left:10px">{{main.login}}</span>
							<div class="btn-group pull-right" pull-right>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-users" aria-hidden="true" style="padding-right:5px"></i>{{main.users.length}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li style="padding: 0 4px;">
										<table>
											<tr ng-repeat="u in main.users | orderBy:'username'">
												<td style="padding-bottom: 4px;">
													<img class="avatar-img" ng-src="img/avatar/{{u.avatar}}" alt="{{u.username}}" ng-click="" style="margin-right:5px"><span>{{u.username}}</span>
												</td>
											</tr>
										</table>
									</li>
								</ul>
							</div> <!-- /.btn-group -->

						</div> <!-- ./panel-heading -->
					<div scroll-bottom="main.messagelist" class="panel-body" style="height: 400px; overflow-y: auto; overflow-x: hidden;">

						<div ng-repeat="m in main.messagelist">

							<div ng-class="m.class" ng-if="m.class != 'row user-joined' && m.class != 'row user-left'">
								<div class="col-xs-1" ng-show="m.class == 'row chat-receive'"><img ng-src="img/avatar/{{m.avatar}}" class="avatar-img" alt="{{m.username}}"></div>
								<div ng-class="m.class == 'row chat-receive' ? 'col-xs-8 msg' : 'col-xs-8 col-xs-offset-4 msg'">

									<div class="msg-body">
										<div class="msg-user" ng-show="m.class == 'row chat-receive'">{{m.username}}</div>
										<div ng-bind-html="main.toTrusted(m.message)" style="word-break: break-word;"></div>
									</div>

									<div ng-class="m.class == 'row chat-receive' ? 'time' : 'time pull-right'">{{m.timeString}}</div>
								</div>
							</div>

							<div ng-class="m.class" ng-if="(m.class == 'row user-joined' || m.class == 'row user-left') && m.username != main.login">
								<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 msg">
									<div class="msg-body text-center">
										<div ng-bind-html="main.toTrusted(m.message)"></div>
									</div>
								</div>
								<!-- <p class="text-center">{{m.message}}</p> -->
							</div>

						</div>

					</div>
					
					<div class="panel-footer">
						<form ng-submit="main.sendchat(main.chatmessage)">
							<div class="input-group">

								<div contenteditable id="chatInput" class="form-control" data-type="input" contenteditable="true" placeholder="Message..." ng-model="main.chatmessage" style="overflow-y: auto; overflow-x: hidden;">
								</div>

								<span class="input-group-btn dropup">
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle dropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-smile-o" aria-hidden="true" ng-click="main.toggleEmoji()" style="color: #555;"></i></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li style="padding: 0 4px;">
												<table>
													<tr>
														<td ng-repeat="cat in main.emojiCat" class="emoji-cat-list">
															<img class="emoji-cat-img" ng-src="img/emoji/category/{{main.thisEmoji == cat.name ? cat.name+'2' : cat.name}}.png" alt="{{cat.label}}" ng-click="main.setEmoji(cat.name, cat.index); $event.stopPropagation();">
														</td>
													</tr>
												</table>
											</li>
											<li class="emoji-picker">
												<table>
													<tr ng-repeat="row in main.emojiList[main.thisEmojiIndex]">
														<td ng-repeat="e in row" class="emoji-list"><a href="" ng-click="main.select_emoji(e)" ng-bind-html="main.emoji_sprite(e)"></td>
													</tr>
												</table>
											</li>
										</ul>
									</div>
									<button class="btn btn-default" type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
								</span>
							</div><!-- /input-group -->
						</form>
					</div>
				</div>
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div>
</div>